# VSCode
.vscode

# Tizen
SA_Report
Debug
Release
.cproject
.package-stamp
.exportMap
.sign
.tproject
.project
.settings
project_def.prop

# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*/build

