<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.milan338.cryptowearcompanion" android:versionCode="110" android:versionName="1.1.0">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.samsung.accessory.permission.ACCESSORY_FRAMEWORK" />
    <uses-permission android:name="com.samsung.WATCH_APP_TYPE.Companion" />

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.CryptoWearCompanion" android:windowSoftInputMode="adjustResize">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ErrorDialogActivity" />

        <receiver android:name="com.samsung.android.sdk.accessory.RegisterUponInstallReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.samsung.accessory.action.REGISTER_AGENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.samsung.android.sdk.accessory.ServiceConnectionIndicationBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.samsung.accessory.action.SERVICE_CONNECTION_REQUESTED" />
            </intent-filter>
        </receiver>

        <service android:name="com.samsung.android.sdk.accessory.SAService" />

        <provider android:name="androidx.core.content.FileProvider" android:authorities="com.milan338.cryptowearcompanion.AccessoryProvider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/accessoryservices" />
        </provider>

        <meta-data android:name="AccessoryServicesLocation" android:value="/res/xml/accessoryservices.xml" />
        <meta-data android:name="gear_app_packagename" android:value="com.milan338.cryptowear" />
        <meta-data android:name="GearAppType" android:value="tpk" />
    </application>

</manifest>
